ion-content {
   background-color: #F2D388
}
h2 {
  font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
  }

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}